<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital-design side</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icontest.png')}}" />
</head>
<body>
    <div class="middle">
        <div class="header">
            <h1>Octopus controller</h1>
        </div>
        <section class="content">
            <div class="centered">
                <h3>Program ended.</h3>
            </div>
        </section>
    </div>
</body>
</html>